a{ 
  
  color: green;
}

i{
color: red;
}

.line
 {
text-decoration: underline;
}

a {
  text-decoration: none;
}

p .line{
  color: blue;
}

b { 
  color: purple;
}

.odd .line {
  color: blue;
}

.odd i {
  text-decoration: underline;
}