p b {
  color: purple;
}

<<<<<<< HEAD
p b{
  color: purple;
}

ul i {
  text-decoration: underline;
}

h1 + h2 {
  color: green;
}

h2 + h3 {
  text-decoration: underline dotted red;
  margin: 8px 0 19px 0;
}

ol ~ h3 {
  border: 1px solid blue;
  padding: 5px;
}

ul ~ p {
  border: 1px dotted black;
  padding: 20px;
}

ul > li > ul > li {
  color: brown;
}

p i {
  color: blue
}

.u-line i {
text-decoration: underline;
}


ol + h2 {
  text-decoration: underline;
}

ul i {
  text-decoration: underline;
}

h1 + h2 {
  color: green;
}

h2 + h3 {
  text-decoration: underline dotted red;
  margin: 8px 0 19px 0;
}

ol ~ h3 {
  border: 1px solid blue;
  padding: 5px;
}

ul ~ p {
  border: 1px dotted black;
  padding: 20px;
}

ul > li > ul > li {
  color: brown;
}

p i {
  color: blue
}

.u-line i {
text-decoration: underline;
}


ol + h2 {
  text-decoration: underline;
}

p b {
  color: purple;
}

=======
>>>>>>> afa17e17de4d5dc53def8eb4defbebe15f1430d0
ul i {
  text-decoration: underline;
}

h1 + h2 {
  color: green;
}

h2 + h3 {
  text-decoration: underline dotted red;
  margin: 8px 0 19px 0;
}

ol ~ h3 {
  border: 1px solid blue;
  padding: 5px;
}

ul ~ p {
  border: 1px dotted black;
  padding: 20px;
}

ul > li > ul > li {
  color: brown;
}