/* add code here */
<<<<<<< HEAD
#header .header h1 {
  color: green;
  text-decoration:uUnderline;
  padding: 5px;
}

p {
  font-size: 25px;
  font-style: italic;
  color: purple  ;
}
=======
#container .header h1 {
  color: green;
  text-decoration: underline; 
  padding: 5px;
}

#container p.para {
  font-size: 25px; 
  font-style: italic;
  color: purple;
  text-decoration: none;
}


>>>>>>> afa17e17de4d5dc53def8eb4defbebe15f1430d0
/* add code here */


h1 {
 color: red !important;
}

.header h1 {
  color: blue;
}

.para {
  text-decoration: line-through; 
  color: blueviolet
}

p {
  text-decoration: underline;
}

